## GoLang

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## Project specific

# Code Coverage
.cover

# Extentionless binaries in cmd directories
/cmd/zymsrvd/zymsrvd
/cmd/fermmond/fermmond
/cmd/client_test/client_test

# BoltDB Databases
**/zymurgaugedb
**/zymurgaugedb.lock

# Other junk
.vscode
cmd/zymsrvd/statik/statik.go
cmd/thermostat_test/*.png
coverage.html