## GoLang

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

## Project specific

# Code Coverage
.cover

# Every non go file in cmd paths
cmd/zymsim/*
!cmd/zymsim/*.go
cmd/zymsrv/*
!cmd/zymsrv/*.go
cmd/fermmon/*
!cmd/fermmon/*.go

# BoltDB Databases
**/zymurgaugedb
**/zymurgaugedb.lock

# Other junk
.vscode