## GoLang

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## Project specific

# Code Coverage
.cover

# Extentionless binaries in cmd directories
/cmd/zymsrv/zymsrv
/cmd/fermmon/fermmon
/cmd/client_test/client_test

# Statik Generate files
cmd/zymsrv/statik

# BoltDB Databases
**/zymurgaugedb
**/zymurgaugedb.lock

# Other junk
.vscode
cmd/thermostat_test/*.png
coverage.html